#DEBUG=remove-for-false
TG_API_TOKEN='api-token'
#WITHOUT_TYPING=remove-for-false
ADMINS=''
SUPPORT_CHAT_ID=''
ADMIN_CHAT_ID=''

# logs
LOGGER_SHOW_DEBUG_LOGS=remove-for-false

LOGGER_SHOW_DATETIME=remove-for-false
DATETIME_FORMAT='%Y-%m-%d %H:%M:%S'
LOGGER_TIME_IN_UTC=remove-for-false

LOGGER_USE_COLORS_IN_CONSOLE=remove-for-false

LOGGER_LOG_TO_FILE=True
LOGGER_LOG_FILE_PATH=logs/bot.log
LOGGER_LOG_FILE_MAX_SIZE=26214400
LOGGER_LOG_FILE_BACKUP_COUNT=5
